* {
    margin: 0;
    padding: 0;
}

.contenedor-migas {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 98%;
}

.tabla {
    border-collapse: collapse;
    width: 98%;
}

th, td {
    text-align: center;
    padding: 8px;
}

.titulo-mi-archivo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.celda-cotizaciones{
    background-color: #dae2f3;
}

.celda-fecha{
    color: #4672c4;
    background-color: #ededed;
}

#impresora{
    color: #4672c4;
    font-size: xx-large;
}

#borrar{
    color: #c55a11;
    font-size: x-large;
}