* {
    margin: 0;
    padding: 0;
}
h1 {
    padding: 5px;
}
.contenedor-migas {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 98%;
}

.borde-contenedor{
    border: 1px solid green;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}

.contenedor-tabla{
    overflow: scroll;
    scrollbar-width: none;
    height: 525px;
    border-radius: 30px;
    border: 1px solid lightgrey;
}

.tabla {
    border-collapse: collapse;
    width: 100%;
}

td{
    border-left: 1px solid lightgrey;
}

th, td {
    padding: 8px;
}

.titulo-mi-archivo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.celda-cotizaciones{
    background-color: #dae2f3;
    position: sticky;
    top: 0;
    bottom: 0;
}

.celda-fecha{
    color: #4672c4;
    background-color: #ededed;
}

tr{
    text-align: center;
}

#impresora{
    color: #4672c4;
    font-size: xx-large;
}

.eliminar{
    color: #c51111;
    font-size: x-large;
}